:root {
    /* colors */
    --white-color: #ffffff;
    --banner-subtext-color: #E6EBFF;
    --border-color: #DEDEDE;
    --body-text-color: #111637;
    --black-tet-color: #000000;
    --circled-icon-color: #080F33;
    --filter-bg-color: #FCF4F4;
    --primary-color: #F82941;
    --checkbox-active-color: #111637;
    --checkbox-inactive-color: #D8CDCB;
    --disabled-clear-filter-color: #D9C0BB;

    /* fonts */
    --DM-sans-font-family: 'DM Sans', sans-serif;
    --Poppins-font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white-color);
    font-family: var(--DM-sans-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header nav {
    text-transform: uppercase;

}

header nav .navbar-nav a.nav-link {
    color: var(--white-color);
    font-weight: 500;
}

header nav .navbar-nav a.nav-link.active {
    color: var(--primary-color);
    font-weight: 500;
}

.top-banner {
    font-family: var(--DM-sans-font-family);
    color: var(--white-color);
    height: 370px;
    display: flex;
    align-items: center;
}

.top-banner h1 {
    font-family: var(--Poppins-font-family);
    font-size: 36px;
    line-height: 48px;
    max-width: 75%;
}

.sub-text {
    color: var(--banner-subtext-color);
    font-size: 20px;
}

.musicians-banner {
    background: url('../images/musicians-banner.jpg') no-repeat center center;
    background-size: cover;
}

.filter-panel .filter-title {
    font-weight: 500;
    font-size: 18px;
}

.filter-panel .badge {
    background-color: var(--primary-color);
    font-size: 12px;
}

.filter-box {
    background-color: var(--filter-bg-color);
    border: 1px solid var(--border-color);
    padding: 24px;
}

.filter-box-header {
    display: flex;
    justify-content: space-between;
}

.filter-box-content ul {
    list-style: none;
    padding: 0px;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}